{% extends "basic.html" %}

{% block content %}


<div class="col-sm-1"></div>
<div class="col-sm-10">
<div class="text-justify">
  <br>
	I like to design whatever I can whenever I can. I mostly work with solidworks for 3d design and inkscape for different 3d design.
	But I like to experiment with different softwares like Blender,Sculptris,Autodesk Fusion 360,Sketchup,Gimp,Photoshop and a lot more.And I really love experimenting with Processing ,P5 and similar types of applications to creatre generative art.
	You will find most of my designs in the provided links. But here you may find a few of them as well.
	<div class="text-center"><button type="button" class="btn btn-outline-success">CV</button></div>
</div>
<br>

<div style="border:3px solid #4286f4;border-width: 0 0 3px 0;">
	<h3 class="text-left">Solidworks</h3>
</div>
<br>

<div style="border:3px solid #4286f4;border-width: 0 0 3px 0;">
	<h3 class="text-left">InkScape</h3>
</div>
<br>

<div style="border:3px solid #4286f4;border-width: 0 0 3px 0;">
	<h3 class="text-left">Sketchup</h3>
</div>
<br>

<div style="border:3px solid #4286f4;border-width: 0 0 3px 0;">
	<h3 class="text-left">Autodesk Fusion 360</h3>
</div>
<br>

<div style="border:3px solid #4286f4;border-width: 0 0 3px 0;">
	<h3 class="text-left">Blender</h3>
</div>
<br>

<div style="border:3px solid #4286f4;border-width: 0 0 3px 0;">
	<h3 class="text-left">Autodesk Sketchbook pro</h3>
</div>
<br>

<div style="border:3px solid #4286f4;border-width: 0 0 3px 0;">
	<h3 class="text-left">Sculptris</h3>
</div>
<br>

<div class="col-sm-1"></div>

{% endblock %}