	{%extends "basic.html"%}
	{%block content%}

		</div>
		{%for obj in Object_list%}
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          	{%if obj.image%}
          		<img class="card-img-left" src="{{obj.image.url}}" alt="Card image cap" height="200" width="200">

          	{%endif%}
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0">
                <a class="text-dark" href="{{obj.get_absolute_url}}">{{obj.title}}</a>
              </h3>
              <div class="mb-1 text-muted">{{obj.timestamp|timesince}} ago</div>
              <p class="card-text mb-auto">{{obj.content|linebreaks|truncatechars:120}}</p>
              <a href="{{obj.get_absolute_url}}" class="btn btn-secondary">continue Reading</a>
            </div>
          </div>
        </div>
        {%endfor%}

		

	{%endblock content%}
	<img class="card-img-top img-fluid" src="https://placeimg.com/640/480/animals" alt="Card image cap">

          	<img class="card-img-right flex-auto d-none d-lg-block" src="{{obj.image.url}}" alt="Card image cap">