.body{
	background-color: #181712;
	text-decoration: none;
}
/*Main content In Every Block*/
#main_content{
	padding-top: 50px;
	padding-left: 50px;
}
/*Controlling Damn Text*/
.text-justify{
	color:#91C7A9;
	text-decoration: none;
}
.text-left{
	color: #d6d2c7;
	text-decoration: none;
}
.text-left a{
	color: #d6d2c7;
	text-decoration: none;
}
#textDate{
	color: #b7911f;
	text-decoration: none;
}

/*Intro and particle JS*/
.text-center{
	color: white;
	text-decoration: none;
	font-size: 20px;
}

#intro{
	position: absolute;
	text-decoration:none;
}
#writing{
	color: white;
	background-color: white;
	text-decoration: none;
}
#particles-js{
	height: 500px;
}




