{% extends "basic.html" %}

{% block content %}



<div class="col-lg-1"></div>
<div class="col-lg-10">
<div class="text-justify">
  <br>

	I am currently an undergraduate student in Chittagong University of engineering And Technology studying Mechanical Engineering.In this page I am giving a short overview of my education and affliations as well as few courses and MOOCs in the following Section.To download my full CV in pdf click the link below.
	<div class="text-center"><button type="button" class="btn btn-outline-success">CV</button></div>
</div>
<br>
<div style="border:3px solid #4286f4;border-width: 0 0 3px 0;">
		<h3 class="text-left"> Education Overview</h3>
</div>
<br>
<table class="table table-sm">
  <tbody>
    <tr>
      <td>SSC</td>
      <td>Rajshahi Board</td>
      <td>2011</td>
    </tr>
    <tr>
      <td>HSC</td>
      <td>Dhaka Board</td>
      <td>2013</td>
    </tr>
    <tr>
      <td>BSc in Mechanical Engineering</td>
      <td>Chittagong University of Engineering and Technology</td>
      <td>2014-2018</td>
    </tr>
  </tbody>
</table>

<br>
<div style="border:3px solid #4286f4;border-width: 0 0 3px 0;">
		<h3 class="text-left"> Course and Certification</h3>
</div>
<br>

<table class="table table-sm">
  <tbody>
    <tr>
      <td>PHP couse by BITM</td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td><button type="button" class="btn btn-outline-info">Certificate</button></td>
    </tr>
    <tr>
      <td>PLC course by IET,CUET</td>
      <td        </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td><button type="button" class="btn btn-outline-success">Certificate</button></td>
    </tr>
    <tr>
      <td>Internship at BSRM(3 weeks)</td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td>       </td>
      <td><button type="button" class="btn btn-outline-warning">Certificate</button></td>
    </tr>
  </tbody>
</table>

<br>
<div style="border:3px solid #4286f4;border-width: 0 0 3px 0;">
		<h3 class="text-left"> Industrial Tours</h3>
</div>
<br>
<ul>
	<li class="text-left">KSRM</li>
	<li class="text-left">Aftab Automobiles</li>
	<li class="text-left">BITAC</li>
	<li class="text-left">Confidence Cement</li>
	<li class="text-left">Rural Power Company Limited(RPCL)</li>
</ul>
<br>
<div style="border:3px solid #4286f4;border-width: 0 0 3px 0;">
		<h3 class="text-left"> Co-Curricular Activites</h3>
</div>
<br>
<ul>
	<li class="text-left">Worked as Technical-secretary at Robo-Mechatronics Association</li>
	<li class="text-left">Worked as branch director,research co-ordinating committee IEEE student Brach CUET</li>
	<li class="text-left">Team leader in 
		<ul>
			<li class="text-left">Worked as Technical-secretary at Robo-Mechatronics Association</li>
			<li class="text-left">Worked as branch director,research co-ordinating committee IEEE student Brach CUET</li>
			<li class="text-left">Team leader in </li>
		</ul>
	</li>
</ul>
</div>
<div class="col-lg-1"></div>

{% endblock %}